*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav{
    height: 100px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 1s;
}

.logo_box{
    height: 50px;
    width: 200px;
    align-content: center;
}

.logo{
    width: auto;
    height: auto;
    align-content: center;
}

.nav_panle{
    height: 100px;
    width: 40%;
}

.nav_panle_ul{
    display: flex;
    gap: 50px;
    height: 100px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-evenly;
}